<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <link rel="stylesheet" href="/css/city/jquery.typeahead.css">
  <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
  <!--script src="../dist/jquery.typeahead.min.js"></script-->
  <script src="/js/city/jquery.typeahead.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <!--Load Script and Stylesheet -->
	<script type="text/javascript" src="/js/dateatime/js/bootstrap-datepicker.js"></script>
	<link type="text/css" href="/css/dateatime/css/bootstrap-datepicker.css" rel="stylesheet" />
</head>
<body>
<div class="container-fluid">
  <div class="row">
	   <div class="row-eq-height">
		  <div class="col-sm-4 col-height col-middle">
		  </div>
		  <div class="col-sm-4 col-height col-middle">
				<div id="planner"></div>
				</br><div class="panel panel-default"><div class="panel-body">
					<div class="row">
						
					</div>
				</div>
			</div>
		  <div class="col-sm-4 col-height col-middle">
		  </div>
	   </div>
  </div>
</div>
<div>
    <p>{{ loginurl }}</p>
</div>
<script type="text/javascript" src="/js/plannerForm.js"></script>



</body>
</html>